.wrapper,
.contacts__list {
  /* margin: 8px 0; */
  padding: 0 37.5px;
  display: block;
}
.wrapper {
  padding-top: 37.5px;
}
.contacts__list {
  padding-bottom: 37.5px;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
}

.contacts__item {
  display: flex;
  justify-content: space-between;
}

.del__btn {
  background: none;
  border: solid 2px #e20000;
  color: #e20000;
  cursor: pointer;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 0 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.del__btn:hover,
.del__btn:focus {
  background: #e20000;
  color: #f2f3eb;
}
